<!DOCTYPE html>
<html>
<head>
    <title>게시글</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- 부트스트랩 css 추가 -->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
</head>
<body>
    <table class="table table-horizontal table-bordered">
        <tr>
            <td>글 번호 : {{post.id}}</td>
            <td>제목 : {{post.title}}</td>
        </tr>
        <tr>
            <td colspan="2">{{post.content}}</td>
        </tr>
        <tr>
            <button type="button" class="btn btn-info">목록</button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modifyPostModal">수정</button>
            <button type="button" class="btn btn-danger">삭제</button>
        </tr>
    </table>
    <div class="modal fade" id="modifyPostModal" tabindex="-1" role="dialog" aria-labelledby="modifyPostLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modifyPostLabel">게시글 수정</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="title">제목</label>
                            <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요"
                                   value="{{post.title}}">
                            <input type="hidden" id="id" value="{{post.id}}">
                        </div>
                        <div class="form-group">
                            <label for="title">내용</label>
                            <textarea class="form-control" id="content" placeholder="내용을 입력하세요">{{post.content}}</textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" id="btn-modify">수정</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 부트스트랩 js, jquery 추가-->
    <script src="/js/lib/jquery.min.js"></script>
    <scipt src="/js/lib/bootstrap.min.js"></scipt>
    <!--post.js-->
    <scipt src="/js/app/post.js"></scipt>
</body>
</html>